body {
    float: inline-start;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    line-height: 23px;
    margin-top: 200px;
    text-align: center;
    position: inherit;
    color: white;
}
body::-webkit-scrollbar {
    display: none;
}


div {
    text-align: center;
    color: white;
    text-decoration: none;
}

div a {
    text-decoration: none;
    color: white;
}

div a:hover {
    color: rgb(68, 120, 202);
}



div h2:hover {
    color: turquoise;
}

p:hover {
    color: turquoise;
}

p {
    margin-bottom: 100px;
}
div h1 {
    text-align: center;
}

div p {
    text-align: center;
}

.dots-server-icon {
    width: 201px;
}

div h1:hover {
    color: turquoise;
    font-size: 40px;
}

#april {
    text-align: center;
    width: 150px;
    border-radius: 100%;
    float: inline-start;
    position: inherit;
}

.j a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
}

.j a:hover {
    color: lightblue;
}

#p {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    
}

.containter {
    display: flexbox;
    float: inline-start;
    text-align: center;
    line-height: 23px;
    margin-top: 200px;
    z-index:9999;
}