
@keyframes april {
    0% {
        top: 1px;
    }
    25% {
        top: -40px;
    }
    100% {
        top: 0.2px;
    }
}

#april {
    position: relative;
    top: auto;
    animation-name: april;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}